.Wrapper {
    @apply flex flex-col w-full h-full;
}
.Chart {
    @apply w-full h-full;
}

.Header {
    @apply ml-5 mt-4 z-10 absolute;
    .Top{
        @apply flex items-baseline;
        .EquityText {
            font-size: 1.5rem;
            @apply mb-0 opacity-75 ml-2 mr-3;
        }
    }
    
    .Equity {
        font-size: 5rem;
        @apply relative p-0;
        top: -1rem;
    }
}