@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background: rgb(32, 0, 84);
    background: linear-gradient(
        128deg,
        rgba(32, 0, 84, 1) 0%,
        rgba(46, 0, 83, 1) 100%
    );
}
